doctype html
html(lang='en')
    head
        
        title BarberShop
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content='description')
        meta(name='keywords', content='keywords')
        meta(name='author', content='author')
        meta(name="robots", content="index, follow")
        link(rel='icon' href='src/img/favicon.png' type='image/x-icon')
        link(rel='stylesheet', href='bootstrap.css')
        link(rel='stylesheet', href='app.css')
        
        <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oleo+Script:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    body
      
      header.b-box
        .logo-cont
          .logo BarberShop 
        .fore-b
      
      
      section.content
      
        article
        
          h1 Brand New Style
          
          hr
          
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          
          hr
          
          .haircut-pics
            .row.img-row
              figure.col-md-4
                img(src="pictures/hair1.jpg")
                figcaption Lorem Ipsam Style <strong>$135</strong>
                
              figure.col-md-4
                img(src="pictures/hair2.jpg")
                figcaption Lorem Ipsam Style <strong>$135</strong>
              
              figure.col-md-4
                img(src="pictures/hair3.jpg") 
                figcaption Lorem Ipsam Style <strong>$135</strong>
            br
            .row.img-row
              figure.col-md-4
                img(src="pictures/whair1.jpg")
                figcaption Lorem Ipsam Style <strong>$135</strong>
                
              figure.col-md-4
                img(src="pictures/whair2.jpg")
                figcaption Lorem Ipsam Style <strong>$135</strong>
                
              figure.col-md-4
                img(src="pictures/whair3.jpg")   
                figcaption Lorem Ipsam Style <strong>$135</strong>  
            
            br
            .row.img-row
              figure.col-md-4
                img(src="pictures/mhair1.jpg")
                figcaption Lorem Ipsam Style <strong>$135</strong>
                
              figure.col-md-4
                img(src="pictures/mhair2.jpg")
                figcaption Lorem Ipsam Style <strong>$135</strong>
                
              figure.col-md-4
                img(src="pictures/mhair3.jpg")
                figcaption Lorem Ipsam Style <strong>$135</strong>   
          h1 Barber Shop
                
          hr
                
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                
          hr

          .large-window
            .window-tint
              .promo-text Best Designer
                 strong <span>from</span> $99
                 a(href="").window-cta Press If You Dare
          
          .large-window-2
            .window-tint-2
              .promo-text Best Designer
                 strong <span>from</span> $99
                 a(href="").window-cta Press If You Dare        

          h1 Rich History
                       
          hr
                       
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                       
          hr
          
          .history-main
            .client-units
              .client-unit.one
              .client-unit.two
              .client-unit.three
            .history.one
              .face-logo
                <img src="pictures/bar1.png"/>
              .text <strong>Lorem ipsum dolor sit amet</strong>, ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
            .history
              .face-logo
                <img src="pictures/bar2.png"/>
              .text <strong>Lorem ipsum dolor sit amet</strong>, ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
            .history.three
              .face-logo
                <img src="pictures/bar3.png"/>
              .text <strong>Lorem ipsum dolor sit amet</strong>, ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                          

              
          
          
          .blog-posts.row
            
            .post.col-md-4.post-1
              h5 Post title
              img(src="pictures/icon1.jpg")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              p: <button type="submit" class="btn btn-default">Send invitation</button>
          
          
            .post.col-md-4.post-2
              h5 Post title
              img(src="pictures/icon2.jpg")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              p: <button type="submit" class="btn btn-default">Send invitation</button>
        
            .post.col-md-4.post-3
              h5 Post title
              img(src="pictures/icon3.jpg")
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              p: <button type="submit" class="btn btn-default">Send invitation</button>
              
              
          .overlay
            form.owesome-form
              .close-btn.glyphicon.glyphicon-remove
              .input-group
                input(type="text")
                label Your Full name
              .input-group  
                input(type="email")
                label Your Email Adress
              input(type="submit" value="submit") 
          
          
      footer
        .shaw
        .row.footer-stuff
          .col-md-3
            <strong>FIND US ON</strong>
            ul
              li: a(href="") Twitter
              li: a(href="") Facebook
              li: a(href="") VK
              li: a(href="") Instagram
          
          .col-md-3
            <strong>DESIGNERS</strong>
            ul
              li: a(href="") Jack Robinson
              li: a(href="") David Guge
              li: a(href="") Crimson Crane
              li: a(href="") Wane Abbot
            
          .col-md-6
            p <strong>Sign Up for the newsletter</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            
            a.become(href="") BECOME A CLIENT 
              
            
      
          
        
                  
                
                    
          
      script( src="jquery-1.11.3.min.js")
      script( src='function.js')
        

        
 
